<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>TEST</title>
    <!-- LIFF -->
    <script src="https://static.line-scdn.net/liff/edge/versions/2.11.1/sdk.js"></script> 

</head>

<body>
    <h2 style="text-align: center; justify-content: center;"> NCKU OIA </h2>
    <h4 id="student_name" style="text-align: center; justify-content: center;"></h4>
    <h4 style="text-align: center; justify-content: center;">Result</h4>
    <br><br>
    <div id="scholarship_list" style="text-align: center; justify-content: center;"></div>
    <script>
		async function main() {
            await liff.init({ liffId: "{{ liff_id }}" });
			if (liff.isLoggedIn()) {
                liff
                    .getProfile()
                    .then((profile) => {
                        //alert('test');
                        // TODO: use line userid replace displayname
                        const name = profile.displayName;
                        const userid = profile.userId;
                        document.getElementById("student_name").innerHTML = name;
                        fetch(`LIFF/${userid}`)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            console.log(typeof(data['scholarship']));
                            document.getElementById("scholarship_list").innerHTML = data['scholarship'].join('<br><br>');;
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });	   
                    })
                    .catch((err) => {
                        console.log("error", err);
                    });
			}	
		}

		main();
    </script>
</body>
